/* background images and styling */
.container{
   height: 120vh; /* viewport height */
   width: 100%;
   background-color: black;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center; 
}
.container1{
    background-image: url(https://images.unsplash.com/photo-1517579351329-f1897f2a953b?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-attachment: fixed;
}
.container2{
    background-image: url(https://images.unsplash.com/photo-1442188950719-e8a67aea613a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-attachment:fixed;
}
.container3{
    height: 190vh;
    background-image: url();
    background-color: white;
    background-attachment: fixed;
}
.container4{
    background-image: url(https://images.unsplash.com/photo-1505592225030-dad7a0531844?q=80&w=1475&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-attachment: fixed;
}
.container5{
    background-image: url(https://images.unsplash.com/photo-1530955726961-a788ec4b4657?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-attachment: fixed;

}
/*-------- navbar styling -------*/
.navbar{
    width: 100%;
    height: 70px;
    background-color:rgb(51, 51, 51);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    justify-content: space-around;

}
.content{
    margin-left: 200px;

}
.content a{
    text-decoration: none;
    color: white;
    border: 1px solid rgb(51, 51, 51);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 30px ;
    
}
.navlogo{
    display: flex;
    align-items: center;
}
.navlogo img{
    width: 40px;
    height: 40px;
    margin: 0px 30px;
}

.navlogo a{
    text-decoration: none;
    color: white;
    border: 1px solid rgb(51, 51, 51);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 10px;
}

/*------- page 1 styling -------*/
.intro{
    width: 40%;
    height: 300px;
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 18%;
}
.introImg{
    width: 30%;
    height: 120px;
    border-radius: 10px;
    /* background: yellow; */
}
.heading{
    width: 100%;
    height: 410px;
    font-size: 30px;
    font-weight: 300;
    color: white;
    /* background: blue; */
    text-align: center;
    margin-bottom: 9px;
}
.socials{
    width: 28%;
    height: 40px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

/*------- page 2 styling -------*/
.heading2{
    width: 60%;
    height: 100px;
    /* background: red; */
    margin-bottom: 30%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heading2 h2{
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: white;
    margin-bottom: 25px;
}
.horizontalLine{
    width: 6%;
    height: 4px;
    background: white;
    margin-bottom: 35px;
}
.services{
    width: 100%;
    height: 400px;
    /* background: white; */
}
.row1 img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 25px;
}
.row2 h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: white;
    margin-bottom: 25px;
}
.row3 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: white;
}

/*------- page 3 styling -------*/
.heading3{
    width: 100%;
    height: 100px;
    /* background: red; */
    margin-bottom: 70%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.heading3 h2{
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: black;
    margin-bottom: 25px;
}
.horizontalLine2{
    width: 4%;
    height: 4px;
    background: black;
    margin-bottom: 35px;
}
.heading3 p{
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.collection{
    width: 90%;
    height: 730px;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
}
.img1{
    width: 33.33%;
    height: 365px;
    background: yellow;
}
.img2{
    width: 33.33%;
    height: 365px;
    background: orange;
}
.img3{
    width: 33.33%;
    height: 365px;
    background: blue;
}
.img4{
    width: 33.33%;
    height: 365px;
    background: violet;
}
.img5{
    width: 33.33%;
    height: 365px;
    background: grey;
}
.img6{
    width: 33.33%;
    height: 365px;
    background: pink;
}

/*------- page 4 styling -------*/
.heading4{
    width: 45%;
    height: 450px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem 5rem;
    border-radius: 20px;
    border: transparent;
}
.heading4 h2{
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: black;
    margin: 20px 0px ;
}
.horizontalLine4{
    width: 4%;
    height: 4px;
    background: black;
    margin-bottom: 30px;

}
.heading4 p{
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin: 3rem 0rem;
}